.div1 {
  position: absolute;
  top: calc(50% - 2034px);
  left: 105.93px;
  width: 608.32px;
  height: 302.35px;
}
.group-child16 {
  position: absolute;
  top: 591.73px;
  left: 0;
  background-color: var(--color-gray-100);
  width: 1465.82px;
  height: 720.2px;
}
.try-us-risk {
  position: absolute;
  top: 384.11px;
  left: 5.67px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 735.43px;
  height: 25.95px;
}
.connected {
  color: var(--color-yellowgreen);
}
.naturally-connected-txt-container {
  line-break: anywhere;
  width: 100%;
}
.for-a-sustainable-container,
.naturally-connected {
  position: absolute;
  left: 0;
  line-height: 54px;
  display: flex;
  align-items: center;
  width: 747.07px;
  height: 126.99px;
}
.naturally-connected {
  top: 117.25px;
  font-size: var(--font-size-31xl);
  text-transform: capitalize;
}
.for-a-sustainable-container {
  top: 218.06px;
  font-size: var(--font-size-42xl);
}
.suraj-chacha-21 {
  position: absolute;
  top: 0;
  left: 688.64px;
  width: 639.6px;
  height: 821.42px;
  object-fit: cover;
}
.try-us-risk-free-for-7-days-i-parent {
  position: absolute;
  top: 0;
  left: 157.76px;
  width: 1328.24px;
  height: 821.42px;
}
.aa-1-icon,
.svg-icon {
  position: absolute;
  left: 0;
}
.aa-1-icon {
  top: 0;
  width: 452px;
  height: 293.27px;
  object-fit: cover;
}
.svg-icon {
  top: calc(50% - 13.22px);
  width: 25px;
  height: 25px;
  overflow: hidden;
}
.bhumijat777gmailcom {
  position: absolute;
  top: 3px;
  left: 40px;
  line-height: 20px;
}
.a {
  position: absolute;
  top: 342.58px;
  left: 76px;
  width: 202.25px;
  height: 32.44px;
}
.svg-icon1 {
  position: relative;
  width: 26px;
  height: 25px;
  overflow: hidden;
  flex-shrink: 0;
}
.bhumijatagro {
  position: relative;
  line-height: 20px;
}
.a1,
.a2 {
  position: absolute;
  top: 341.28px;
  left: 313px;
  height: 32.44px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 6.75px 0 0;
  box-sizing: border-box;
  gap: var(--gap-7xs);
}
.a2 {
  top: 342.58px;
  left: 498.63px;
  padding: 0 0.359375px 0 0;
}
.about1,
.blog,
.contact-us,
.how-it-works,
.our-work {
  position: absolute;
  top: 3px;
  right: 0.08px;
  line-height: 18px;
  text-transform: uppercase;
}
.about1,
.blog,
.contact-us,
.our-work {
  top: 42px;
  right: 0.53px;
}
.blog,
.contact-us,
.our-work {
  top: 81px;
  right: 0.39px;
}
.blog,
.contact-us {
  top: 120px;
  right: 0.4px;
}
.contact-us {
  top: 159px;
  right: 0.55px;
}
.aa-1-parent,
.ul {
  position: absolute;
  top: 128.47px;
  left: 1154.69px;
  width: 123.08px;
  height: 234.88px;
  text-align: right;
  font-size: var(--font-size-mini);
}
.aa-1-parent {
  top: 691.65px;
  left: 61px;
  width: 1277.77px;
  height: 375.02px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.div-parent,
.rectangle-parent2 {
  position: absolute;
  left: 0;
  width: 1486px;
}
.rectangle-parent2 {
  top: 2756.07px;
  height: 1311.93px;
}
.div-parent {
  top: calc(50% + 1576.5px);
  height: 4068px;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
